.contact--me {
  color: #ffffff;

  .contact--me--inner {
    display: flex;
    flex-direction: column;
    padding-block: 110px;

    .contact--me--card {
      background: #1c1c1c;
      width: 80%;
      box-shadow: 10px 10px 63px 4px rgb(243, 240, 240);
      height: 500px;
      margin-inline: auto;
      margin-top: $spacer;

      .left--contact {
        .get--in--touch {
          display: flex;
          justify-content: center;
          margin: $spacer * 1.5 0;
          color: #ffffff;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          font-size: 2.2rem;
        }
      }

      .anim--container {
        padding: $spacer * 3 0px;
        display: flex;
        justify-content: center;
      }

      .right--contact {
        .card--contact--right {
          display: flex;
          flex-direction: column;
          margin: 0 auto;
          background: linear-gradient(
            -90deg,
            $primaryAppColor,
            $secondaryAppColor
          );
          box-shadow: 10px 10px 33px 4px rgb(243, 240, 240);
          border-radius: 20px;
          width: 80%;
          padding: 24px;

          .input--group {
            margin: $spacer 0;
            display: flex;
            flex-direction: column;
            input.btn {
              background-color: #ec5626;
              color: white;
              border-color: #ec5626;
              outline: none;
              text-align: center;
              &:hover {
                background-color: #ec4512;
                border-color: #ec4512;
                outline: none;
                color: white;
              }
              &:active {
                background-color: #ec5626;
                border-color: #ec5626;
                outline: none;
                color: white;
              }
              &:checked {
                background-color: #ec5626;
                border-color: #ec5626;
                outline: none;
                color: white;
              }
              &:target {
                background-color: #ec5626;
                border-color: #ec5626;
                outline: none;
                color: white;
              }
              &:focus {
                background-color: #ec5626;
                border-color: #ec5626;
                box-shadow: none;
                overflow: hidden;
                outline: none;
                color: white;
              }
            }

            .input--groups {
              border: none;
              border-radius: 10px;
              padding: 10px;
            }
          }
        }
      }
    }
  }
}

.contact--me-bg {
  clip-path: polygon(0 10%, 100% 0%, 100% 80%, 0 100%);
  background: linear-gradient(-90deg, $primaryAppColor, $secondaryAppColor);
  height: 700px;
  width: 100%;
  position: absolute;
  z-index: -4;
}

//MOBILE VIEW
@media all and (max-width: 786px) {
  .contact--me {
    .contact--me--inner {
      .contact--me--card {
        .left--contact {
          .get--in--touch {
            display: block;
            text-align: center;
          }
        }
        .right--contact {
          .card--contact--right {
            width: 90%;
          }
        }
        .anim--container {
          padding: 0px;
        }
      }
    }
  }
}
