.education--container {
  display: flex;
  flex-direction: column;

  .education--one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $spacer * 1.5 0px;
    .education--year {
      width: 30%;

      @include mobile {
        flex: 2;
        float: right;
      }
      .passedout--year {
        font-family: monospace;
        font-size: 1.2vw;
        background-color: $standoutColor;
        color: white;
        padding: 10px;
        border-radius: 20px;
        width: 30%;
        text-align: center;
        @include mobile {
          font-size: 0.6rem;
          color: #fff;
        }
      }
    }

    .education--name {
      display: flex;
      width: 80%;
      flex-direction: column;
      @include mobile {
        flex: 3;
      }

      .education--name-school {
        font-family: 'Montserrat', sans-serif;
        color: red;
        font-size: 1.4rem;
        font-weight: 700;
        padding-right: 1rem;

        @include mobile {
          font-size: 1.2rem;
        }
      }

      .education--degree {
        font-size: 0.8vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: #1c1c1c;
        text-transform: uppercase;
        letter-spacing: 0.15em;

        @include mobile {
          font-size: 0.7rem;
        }
      }
    }
  }
}
