.resume--outer--section {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  background: $primaryAppColor;
  color: white;
  clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 100%);

  .resume--new--section {
    width: 90%;
    margin-inline: auto;
    margin-top: 42px;
    min-height: 400px;
    background-color: white;
    box-shadow: 10px 10px 31px 2px #1c1c1c;


    .resume--left--section {
      display: flex;
      flex-direction: row;
      padding: 0;

      .left--span--resume {
        display: flex;
        flex-direction: column;
        background: linear-gradient(-45deg, $primaryAppColor, $secondaryAppColor);
        color: white;

        .icon-span {
          margin-block: 24px;
          margin-inline: 24px;
        }
      }

      .left--inner--resume {
        display: flex;
        flex-direction: column;


        .resume--options--items {
          width: 1%;
          transition: all .3s ease-out;
          padding-block: 24px;
          padding-inline: 24px;
          color: #000;
          cursor: pointer;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          background: transparent;


          &.active {
            background: linear-gradient(-45deg, $primaryAppColor, $secondaryAppColor);
            width: 100%;
            color: white;

          }

          &:hover {
            width: 100%;
            background: linear-gradient(to left, $primaryAppColor, $secondaryAppColor) right;
            color: white;
          }
        }
      }
    }
  }
}

.resume--right--section {
  padding: 16px;
}
