.work--inside--new {
  margin: $spacer * 1.5 10px;
  .work--container {
    display: flex;
    flex-direction: column;

    .work {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .work--name--company {
        color: $standoutColor;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        font-weight: 800;
        text-decoration: underline;
      }
      .passedout--year {
        font-family: monospace;
        font-size: 1.2vw;
        background-color: $standoutColor;
        color: white;
        padding: 10px;
        border-radius: 20px;
        width: 30%;
        text-align: center;
        @include mobile {
          font-size: 0.6rem;
          color: #fff;
        }
      }
    }
  }

  .work--position {
    color: $primaryTextColor;
  }
  .work--description {
    display: flex;
    flex-direction: column;
    color: $primaryTextColor;
  }
}
